In [7]:
import pandas as pd

path_2019 = "../data/obitos-2019.csv"
path_2020 = "../data/obitos-2020.csv"
path_2021 = "../data/obitos-2021.csv"

data_2019 = pd.read_csv(path_2019)
data_2020 = pd.read_csv(path_2020)
data_2021 = pd.read_csv(path_2021)

In [9]:
print(f" 2019: {data_2019.shape}")
print(f" 2020: {data_2020.shape}")
print(f" 2021: {data_2021.shape}")

 2019: (12380, 6)
 2020: (14893, 6)
 2021: (4062, 6)

In [10]:
data_2019.head()

   uf tipo_doenca local_obito faixa_etaria sexo  total
0  AC      OUTRAS   DOMICILIO          < 9    F      7
1  AC      OUTRAS   DOMICILIO          < 9    M     15
2  AC      OUTRAS    HOSPITAL          < 9    F     30
3  AC      OUTRAS    HOSPITAL          < 9    M     55
4  AC      OUTRAS    IGNORADO          < 9    M      1

In [12]:
data_2020.head()

   uf tipo_doenca local_obito faixa_etaria sexo  total
0  AC      OUTRAS   DOMICILIO          < 9    F      7
1  AC      OUTRAS   DOMICILIO          < 9    M     12
2  AC      OUTRAS    HOSPITAL          < 9    F     47
3  AC      OUTRAS    HOSPITAL          < 9    M     45
4  AC      OUTRAS       OUTRO          < 9    F      4

In [13]:
data_2021.head()

   uf                 tipo_doenca local_obito faixa_etaria sexo  total
0  AC                      OUTRAS    HOSPITAL          < 9    F      2
1  AC                      OUTRAS    HOSPITAL          < 9    M      1
2  AC                       COVID    HOSPITAL          < 9    M      1
3  AC  INSUFICIENCIA_RESPIRATORIA    HOSPITAL          < 9    M      2
4  AC                   PNEUMONIA    HOSPITAL          < 9    F      1

In [15]:
len(data_2021['uf'].unique())

27

In [16]:
data_2020["tipo_doenca"].unique()

array(['OUTRAS', 'COVID', 'INDETERMINADA', 'INSUFICIENCIA_RESPIRATORIA',
       'PNEUMONIA', 'SEPTICEMIA', 'SRAG'], dtype=object)

In [17]:
data_2021["tipo_doenca"].unique()

array(['OUTRAS', 'COVID', 'INSUFICIENCIA_RESPIRATORIA', 'PNEUMONIA',
       'SEPTICEMIA', 'SRAG', 'INDETERMINADA'], dtype=object)

In [18]:
data_2019["tipo_doenca"].unique()

array(['OUTRAS', 'INDETERMINADA', 'INSUFICIENCIA_RESPIRATORIA',
       'PNEUMONIA', 'SEPTICEMIA', 'SRAG', 'COVID'], dtype=object)

In [23]:
data_2021.groupby('tipo_doenca').sum('total')

                            total
tipo_doenca
COVID                        6728
INDETERMINADA                 182
INSUFICIENCIA_RESPIRATORIA   1737
OUTRAS                      13139
PNEUMONIA                    3236
SEPTICEMIA                   3231
SRAG                          318

In [24]:
data_2020.groupby('tipo_doenca').sum('total')

                             total
tipo_doenca
COVID                       194925
INDETERMINADA                 9670
INSUFICIENCIA_RESPIRATORIA   98600
OUTRAS                      687478
PNEUMONIA                   181536
SEPTICEMIA                  162314
SRAG                         16497

In [63]:
total_doenca_2019 = data_2019.groupby('tipo_doenca').sum('total')

total_doenca_2019

                             total
tipo_doenca
COVID                            1
INDETERMINADA                 6986
INSUFICIENCIA_RESPIRATORIA  100519
OUTRAS                      660070
PNEUMONIA                   226220
SEPTICEMIA                  175453
SRAG                          1498

In [62]:
total_doenca_2020 =data_2020.groupby('tipo_doenca').sum('total')
total_doenca_2020

                             total
tipo_doenca
COVID                       194925
INDETERMINADA                 9670
INSUFICIENCIA_RESPIRATORIA   98600
OUTRAS                      687478
PNEUMONIA                   181536
SEPTICEMIA                  162314
SRAG                         16497

In [58]:
total_doenca_2021 = data_2021.groupby('tipo_doenca').sum('total')
total_doenca_2021.rename(columns={'total' :'total 2021'}, inplace=True)
total_doenca_2021

                            total 2021
tipo_doenca
COVID                             6728
INDETERMINADA                      182
INSUFICIENCIA_RESPIRATORIA        1737
OUTRAS                           13139
PNEUMONIA                         3236
SEPTICEMIA                        3231
SRAG                               318

In [64]:
crescimento_19_20 = total_doenca_2020/total_doenca_2019
crescimento_19_20

                                    total
tipo_doenca
COVID                       194925.000000
INDETERMINADA                    1.384197
INSUFICIENCIA_RESPIRATORIA       0.980909
OUTRAS                           1.041523
PNEUMONIA                        0.802475
SEPTICEMIA                       0.925114
SRAG                            11.012684